<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <table>
      <tr>
        <td>
          <h1>{{burgerParts[2]}}</h1>
        </td>
      </tr>
    </table>

  </body>
</html>
